<div ng-include="'/views/includes/header.html'"></div>
		<header style="top: 0;">
<div ng-include="'/views/includes/navbar.html'"></div>

<div id="text">
			<span id="bigText" class="coolText">Some Cool Text About Training Program</span><br> <br>
			<span id="smallText" class="coolText">Some Cool Text About Training Program</span>
		  </div>
		</header>

		<img src="images/overviewbg.png" class="overviewbg">

		<div id="main">
			<div id="timeline">
				<span class="scriptMTBold"> Timeline </span>
			</div>
			<div class="container">
				<div id="interactive1" class="span12">
					<div class="span3">
						<span class="top">Weeks 1&2 </span><br>
						<span class="down">Determine Path & Steps</span>
					</div>
					<div class="span3">
						<span class="top">Months 2-4 </span><br>
						<span class="down">Motivated & Track Action Plan</span>
					</div>
					<div class="span5">
						<span class="top">Months 6-12 </span><br>
						<span class="down">Intermittent Follow Up</span>
					</div>
				</div>
				<div id="interactive2" class="span12">
					<!--<img src="images/underline.png" class="underline">-->
					<div class="span1 blue1" >
						<a   class="example" rel="popover" data-content="" data-placement="bottom"><img data-trigger="hover" data-placement="bottom" bs-popover="'time1.html'" class="blue" src="images/blueDot.png"></a>

						<script type="text/ng-template" id="time1.html">
						Most supermarket private brand or store brand products are provided by companies that sell to multiple supermarkets, changing only the labels. In addition some manufactures create low-cost generic brand labels with only the name of the product. Addition some manufactures create low-cost generic brand labels with only the name of the product.
						 </script>

						<img class="red" src="images/redDot.png"><hr>
					</div>
					<div class="span2 blue2">
						<a   class="example" rel="popover" data-content="" data-placement="bottom"><img data-trigger="hover" data-placement="bottom" bs-popover="'time2.html'" class="blue" src="images/blueDot.png"></a>


						<script type="text/ng-template" id="time2.html">
						Most supermarket private brand or store brand products are provided by companies that sell to multiple supermarkets, changing only the labels. In addition some manufactures create low-cost generic brand labels with only the name of the product. Addition some manufactures create low-cost generic brand labels with only the name of the product.
						 </script>

						<img class="red" src="images/redDot.png"><hr>
					</div>
					<div class="span2 blue3">
						<a   class="example" rel="popover" data-content="" data-placement="bottom"><img data-trigger="hover" data-placement="bottom" bs-popover="'time3.html'" class="blue" src="images/blueDot.png"></a>


						<script type="text/ng-template" id="time3.html">
						Most supermarket private brand or store brand products are provided by companies that sell to multiple supermarkets, changing only the labels. In addition some manufactures create low-cost generic brand labels with only the name of the product. Addition some manufactures create low-cost generic brand labels with only the name of the product.
						 </script>
						<img class="red" src="images/redDot.png"><hr>
					</div>
					<div class="span3 blue4">
						<a   class="example" rel="popover" data-content="" data-placement="bottom"><img data-trigger="hover" data-placement="bottom" bs-popover="'time4.html'" class="blue" src="images/blueDot.png"></a>


						<script type="text/ng-template" id="time4.html">
						Most supermarket private brand or store brand products are provided by companies that sell to multiple supermarkets, changing only the labels. In addition some manufactures create low-cost generic brand labels with only the name of the product. Addition some manufactures create low-cost generic brand labels with only the name of the product.
						 </script>
						<img class="red" src="images/redDot.png"><hr>
					</div>
					<div class="span2 blue5">
						<a   class="example" rel="popover" data-content="" data-placement="bottom"><img data-trigger="hover" data-placement="bottom" bs-popover="'time5.html'" class="blue" src="images/blueDot.png"></a>


						<script type="text/ng-template" id="time5.html">
						Most supermarket private brand or store brand products are provided by companies that sell to multiple supermarkets, changing only the labels. In addition some manufactures create low-cost generic brand labels with only the name of the product. Addition some manufactures create low-cost generic brand labels with only the name of the product.
						 </script>
						<img class="red" src="images/redDot.png"><hr>
					</div>

				</div>
				<div id="interactive3" class="span12">
					<div class="span6">
						<span class="top">Weeks 3&4 </span><br>
						<span class="down">Define Recovery Action Plan</span>
					</div>
					<div class="span5">
						<span class="top">Months 4-6 </span><br>
						<span class="down">Motivate & Make Plan Stick</span>
					</div>
				</div>

			</div>
		</div>
		
		<div id="footer">
			<div id="footer1">
				<div id="title">
					<span class="scriptMTBold whiteBold"> How The Program Works </span>
				</div>
				<div id="description">
					<span class="whiteBold description">Most supermarket private brand or store brand products are provided by companies that sell to multiple supermarkets, <br> changing only the labels. In addition some manufacturers create low-cost generic brand labels with only the name of the product.</span>
				</div>
				<div id="rollImages">
					<img src="images/1.png" class="rollImages rolloverImage1">
					<img src="images/2.png" class="rollImages">
					<img src="images/3.png" class="rollImages rolloverImage2">
					<img src="images/4.png" class="rollImages">
					<img src="images/5.png" class="rollImages rolloverImage3">
					<img src="images/6.png" class="rollImages">
					<img src="images/7.png" class="rollImages rolloverImage4">
				</div>
				<div id="bottom">
					<div class="bottom">
						<span class="whiteBold description">
							Most supermarket private brand or<br> store brand products are provided<br> by companies that sell to multiple<br> supermarkets.
						</span>
					</div>
					<div class="bottom">
						<span class="whiteBold description">
							Most supermarket private brand or<br> store brand products are provided<br> by companies that sell to multiple<br> supermarkets.
						</span>
					</div>
					<div class="bottom">
						<span class="whiteBold description">
							Most supermarket private brand or<br> store brand products are provided<br> by companies that sell to multiple<br> supermarkets.
						</span>
					</div>
					<div class="bottom">
						<span class="whiteBold description">
							Most supermarket private brand or<br> store brand products are provided<br> by companies that sell to multiple<br> supermarkets.
						</span>
					</div>

				</div>
			</div>
			<div id="footer2">
				<div id="footerBottom1">
					<span class="footerBottom"> 1to1mentor.org </span>
				</div>
				<div id="footerBottom2">
					<span class="footerBottom"> hello@website.com </span>
				</div>
				<div id="footerBottom3">
					<span class="footerBottom"> 2013 1to1mentor. All Rights Reserved </span>
				</div>
			</div>
		</div>
	  </div><!--end of overview page-->