


<!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product"><head>
	<meta charset="utf-8">
	<title>1to1Mentor</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" type="text/css"  href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css"  href="bootstrap/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css"  href="css/style.css">

	<script type='text/javascript' src="bootstrap/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-popover.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap-tooltip.js"></script>
	<script type="text/javascript" src="bootstrap/js/angular.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/comment.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="bootstrap/js/jquery.fancybox.pack.js"></script>
	<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>-->
  </head><body>

	<div id="registrationPage">
		<img src="images/home_bg.jpg" class="homebg">
		<div class="modal_bg"></div>
		<div class="index_modal cusmodal">
			<div class="modal_content">
				<a href="/training" class="logolink">
					<div class="logo">
						<img src="images/logo.png" class="logoimg" alt=""/>
						<span>Program</span>
					</div>
				</a>
				<div class="desc">Please fill up this form to have access to training center</div>
				<form action="/users/session" method="post" class="signin form-horizontal">
				<p class="error"></p>
				<div class="control-group">
					<label for="email" style="text-align:left" class="control-label">Email</label>
					<div style="margin-left: 0px" class="controls">
						<input id="email" type="text" name="email" placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<label for="password" style="text-align:left" class="control-label">Password</label>
					<div style="margin-left: 0px"class="controls">
						<input id="password" type="password" name="password" placeholder="Password">
					</div>
				</div>
				<div style="padding-left: 0px" class="form-actions">
					<button type="submit" class="btn btn-primary">Sign in</button>&nbsp;
				or&nbsp;
				<a style="text-align:left" href="/signup" class="show-signup">Sign up</a>
				</div>
				</form>

			</div>
		</div>
	  </div>
</div></div></section></section><script type="text/javascript" src="lib/jquery/jquery.min.js"></script><!--AngularJS--><script type="text/javascript" src="lib/angular/angular.min.js"></script><script type="text/javascript" src="lib/angular-cookies/angular-cookies.min.js"></script><script type="text/javascript" src="lib/angular-resource/angular-resource.min.js"></script><!--Angular UI--><script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script><script type="text/javascript" src="lib/angular-ui-utils/modules/route/route.js"></script><!--Application Init--><script type="text/javascript" src="js/app.js"></script><script type="text/javascript" src="js/config.js"></script><script type="text/javascript" src="js/directives.js"></script><script type="text/javascript" src="js/filters.js"></script><!--Application Services--><script type="text/javascript" src="js/services/global.js"></script><script type="text/javascript" src="js/services/articles.js"></script><!--Application Controllers--><script type="text/javascript" src="js/controllers/articles.js"></script><script type="text/javascript" src="js/controllers/index.js"></script><script type="text/javascript" src="js/controllers/header.js">	</script><script type="text/javascript" src="js/init.js"></script><!--Livereload script rendered --><script type="text/javascript" src="http://localhost:35729/livereload.js">	</script></body></html>