
<!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
<header style="top: 0">
<%- include includes/head.ejs %>
</header>
<body><section class="content"><section class="container"><section data-ng-view></section><script type="text/javascript">window.user = null;</script></section></section>

<%- include includes/foot.ejs %>

</body></html>